<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
      </aside>
      <div class="span8">
        <h3>Stories</h3>
        <ol class="stories">
          <%= render @story_snippets %>
        </ol>
      </div>
    </div>
<% else %>
    <div class="center hero-unit">
      <h1>Welcome Crowd Source Story</h1>

      <h2>
        What is Crowd Source Story?
      </h2>
      <br />
      <h4>
        Crowd Source Story is a collaborative website where you can read and write stories.  Add to existing stories or create your own!
      </h4>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>

<% end %>