<li>
  <div class="story-feed">
    <h6><%= link_to story_snippet.story.title, [story_snippet.story, story_snippet] %></h6>
    <div class="story-description"><%= story_snippet.content[0..30] %>...</div>
  </div>
</li>