<li>
  <div class="story-feed" title="<%= story.description %>">
    <h6><%= link_to story.title, story %></h6>
    <div class="story-description"><%= story.description[0..60] %>...</div>
  </div>
</li>